.footer {
  background-color: #d9d9d9;

  ul {
    li {
      a {
        color: var(--dark-gray);
        img {
          width: 1.4rem;
        }
      }
    }
  }

  label {
    color: var(--dark-gray);
  }

  .form-inline {
    .form-control {
      width: 160px;
      border-radius: 3px 0 0 3px;
      background-color: #eae3e3;
      border: 0;
      font-size: 13px;
      display: inline-block;
      &:focus {
        outline: unset;
        box-shadow: unset;
        border: unset;
      }
    }

    .btn {
      border-radius: 0 3px 3px 0;
      background-color: var(--green-color);
      color: var(--white-color);
      font-size: 13px;
      display: inline-block;
      &:focus {
        outline: unset;
        box-shadow: unset;
        border: unset;
      }
    }
  }

  .socialize {
    text-align: center;
    @media (max-width: 767px) {
      text-align: left;
    }
  }

  .social-media {
    a {
      margin-right: 1.3rem;
      img {
        width: 1.4rem;
        height: 1.4rem;
      }
    }
  }

  .regular {
    font-size: 13px;
  }

  .footer-bottom {
    background: var(--main-color);
  }
}
