.second-text {
  background-color: var(--green-color);
  color: white;
}

.form-inline {
  input {
    border-radius: 3px 0 0 3px;
    width: 88%;
    font-size: 13px;

    @media (max-width: 767px) {
      width: 80%;
    }

    @media (max-width: 321px) {
      width: 75%;
    }

    &:focus {
      outline: unset;
      box-shadow: unset;
      border: unset;
    }
  }
  .btn {
    border-radius: 0 3px 3px 0;
    background-color: var(--green-color);
    color: var(--white-color);
    font-size: 13px;
    border: 0;

    &:focus {
      outline: unset;
      box-shadow: unset;
      border: unset;
    }
    img {
      width: 20px;
    }
  }
}

.sort {
  span {
    font-size: 14px;
    color: var(--green-color);
  }

  img {
    width: 13px;
  }
}

input,
select,
.btn {
  height: 50px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url("../../../assets/images/daterange.png") no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
}
.date-time {
  input[type="text"] {
    position: relative;
    background: url("../../../assets/images/daterange.png") no-repeat;
    background-position: center right 20px;
    background-color: white;
  }
}
select::-ms-expand {
  display: none;
}
.select-container {
  position: relative;
  &::after {
    content: ">";
    font: 18px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 2rem;
    top: 2.5rem;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
    color: var(--grey-color);
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    max-width: 320px;
    height: 50px;
    float: right;
    margin: 0;
    padding: 0px 13px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
  }
}
.paginator {
  button {
    height: 2.5rem;
    width: 2.5rem;
  }
}
.sort__by__group {
  height: 45px;
  margin-top: 2rem;
  .btn-outline-primary:not(:disabled):not(.disabled):active,
  .btn-outline-primary:not(:disabled):not(.disabled).active,
  .show > .btn-outline-primary.dropdown-toggle {
    background-color: #ffffff;
  }
  button.btn-outline-primary {
    border: none;
    color: #8dc044;
    box-shadow: none;
    outline: none;
    &:hover {
      background-color: #ffffff;
    }
  }
  #sortbutton {
    padding: 0 1rem;
  }

  .dropdown-toggle {
    &::after {
      display: none;
    }
  }
}
