<div class="main-menu" [class.show]="show">
  <div class="container-fluid">
    <div class="row w-100 h-100">
      <div class="col-4  align-items-end social-media">
        <div class="social-icons">
          <div class="mb-4">
            <a href="#">
              <img src="assets/images/social/white-twitter.svg" alt="twitter">
            </a>
          </div>
          <div class="mb-4">
            <a href="#">
              <img src="assets/images/social/white-facebook.svg" alt="facebook">
            </a>
          </div>
          <div class="mb-4">
            <a href="#">
              <img src="assets/images/social/white-linkedin.svg" alt="linkedin">
            </a>
          </div>

          <div class="mb-4">
            <a href="#">
              <img src="assets/images/social/white-youtube.svg" alt="youtube">
            </a>
          </div>

          <div class="mb-4">
            <a href="#">
              <img src="assets/images/social/white-insta.svg" alt="instagram">
            </a>
          </div>
        </div>
      </div>
      <div class="col-8">
        <ul class="pt-3 pl-0">
          <li class="mb-4">
            <a routerLink="/">
              <h3 class="semiBold">
                Home
              </h3>
            </a>

          </li>
          <li class="mb-4">
            <a href="#">
              <h3 class="semiBold">
                About us
              </h3>
            </a>
            <a href="#">
              <p class="mb-2 gray-text regular">who are us</p>
            </a>
            <a href="#">
              <p class="mb-2 gray-text regular">Why us?</p>
            </a>
          </li>

          <li class="mb-4">
            <a routerLink="/list-articles">
              <h3 class="semiBold">
                News
              </h3>
            </a>
            <a routerLink="/list-articles">
              <p class="mb-2 gray-text regular">News</p>
            </a>
            <a href="#">
              <p class="mb-2 gray-text regular">Events</p>
            </a>
          </li>

          <li>
            <a href="#">
              <h3 class="semiBold">
                Careers
              </h3>
            </a>
            <a href="#">
              <p class="mb-2 gray-text regular">Opportunities</p>
            </a>
          </li>

          <li class="mb-4 contact-us">
            <a href="#">
              <h3 class="semiBold">
                Contact Us
              </h3>
            </a>
          </li>

          <li>
            <a href="#">
              <h3 class="semiBold">
                Site Map
              </h3>
            </a>

          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
